:root {
    --hamburger-height: 40px;
    --bar-width: 50px;
    --bar-height: 9px;
    --hamburger-gap: calc((var(--hamburger-height) - var(--bar-height) * 3) / 2);
}
.hamburger-menu {
    --x-width: calc((var(--hamburger-height) - var(--bar-height)) * 1.414);
    --x-margin-left: calc((var(--bar-width) - var(--hamburger-height)) / 2 + var(--bar-height) / 2);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: 26px;
    left: 26px;
    z-index: 2;
    cursor: pointer;
}
.hamburger-menu::before,
.hamburger-menu::after {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: black;
    border-radius: 9999px;
    transform-origin: left center;
    transition: width .2s, rotate .2s, margin .2s, box-shadow .2s;
    transition-timing-function: linear
}
.hamburger-menu-fix {
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: black;
    border-radius: 9999px;
    transition: width .267s, margin .267s, box-shadow .2s;
    transition-timing-function: ease-out;
}
input {
    position: absolute;
    visibility: hidden;
}
input:checked + .hamburger-menu::before {
    width: var(--x-width);
    height: var(--bar-height);
    position: relative;
    rotate: 45deg;
    margin-left: var(--x-margin-left);
}
input:checked + .hamburger-menu::after {
    width: var(--x-width);
    height: var(--bar-height);
    position: relative;
    rotate: -45deg;
    margin-left: var(--x-margin-left);
}
input:checked + .hamburger-menu div {
    z-index: 10;
    width: 0px;
    margin-left: calc(var(--bar-width) / 2 + var(--bar-height) / 3);
}
input:checked ~ .sidebar {
    box-sizing: border-box;
    position: relative;
    translate: 0;
    padding: 10rem 10rem;
}
.sidebar {
    box-sizing: border-box;
    background: rgba(128, 128, 128, 0.103);
    position: relative;
    transition: backdrop-filter .5s, translate .5s, padding .5s, display .5s;
    translate: -100%;
    padding: 10rem 10rem;
    padding-top: calc(var(--hamburger-height) + 26px + 1rem);
    font-size: x-large;
    backdrop-filter: blur(20px);
    z-index: 1;
    max-width: 100%;
    min-height: 100vh;
}


